@import "tailwindcss";

@layer base {
  * {
    @apply border-slate-200;
  }
  
  html {
    @apply antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    @apply bg-white text-slate-900;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold tracking-tight;
  }
}
